/*!* GENERAL RESET -------------------------------------------------- *!*/
/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

body {
    margin: 0;
/*  background-color: green;*/
/*  height: 100%;*/
/*  font-family: 'Inter', sans-serif;*/
/*  scroll-snap-type: y mandatory;*/
/*  scroll-behavior: smooth;*/
/* */
/*  background: #fafafa;*/
/*  color: #222;*/
}

/*html, body {*/
/*  overflow: hidden;*/
/*  height: 100%;*/
/*}*/

/*!* CONTAINERS ----------------------------------------------------- *!*/
/*!* .container {*/
/*  height: fit-content;*/
/*  width: 100%;*/
/*  overflow-x: hidden;*/
/*  */
/*} *!*/

.page-contents {
/*  height: 70vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  gap: 4rem;*/
}

/*!* SECTIONS ------------------------------------------------------- *!*/
.section {
/*  !* min-height: 100vh; *!*/
  height: auto;
  width: auto;
    padding: 2rem;

/*  scroll-snap-align: start;*/

  display: flex;
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/

/*  padding: 2rem;*/
}

.hero.section{
    flex-flow: column;
    text-align: center;
}

/*.hero h1 {*/
/*  font-size: clamp(2rem, 4vw, 3.5rem);*/
/*  font-weight: 800;*/
/*  letter-spacing: 0.5px;*/
/*  margin-bottom: 2rem;*/
/*}*/

/*!* BANNER --------------------------------------------------------- *!*/
.banner {
  width: 100%;

  display: flex;
  justify-content: center;
}

.banner-img {
  width: 100%;
    max-width: 900px;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 12px;

  /* Optional soft shadow */
   box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}


.about-me{
    /*background-color: #0848b7;*/
    /*background-color: red;*/
    /*border: black solid 2px;*/

}

.bottom{
    background-image: linear-gradient(to bottom,  #0848b7, #395aab);
    /*margin-top: 5px;*/
    z-index: 1;
}

.widget{
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.8);
    padding: 25px;
    display: flex;

}

.boat-container{
    /*overflow: hidden;*/
    position: relative;
    transform: translateY(60px);
}

.boat{
    width: 75px;
    height: 75px;
}