.wave-wrapper {
  display: grid;
  width: 100%;
  z-index: 1;
  margin: 0px;
  /*border: red solid 15px;*/

}


.wave-container {
  grid-row: 1;
  grid-column: 1;
  /*position: absolute;*/
  width: 100%;
  overflow: hidden;
  line-height: 0;
  top: 0;
  left: 0;
  /*border: black solid 15px;*/

}


.wave {

  height: 80px;         /* adjust to taste */
  overflow: hidden;     /* ← this is the critical missing piece */
  position: relative;
}

.wave > div {           /* framer-motion wrapper */
  height: 100%;
}


.wave-svg {
  width: 200%;
  height: 100%;         /* ← makes SVG fill container height */
  display: block;
  overflow: hidden;
}


.wave-path {
  height: 100%;
  width: 100%;
}

.wave.back  { transform: translateY(0px); }
.wave.mid   { transform: translateY(10px); }
.wave.front { transform: translateY(20px); }

.wave-bg {
  background-image: linear-gradient(to bottom, #0848b7, #134cb5);
  width: 100%;
  /*position: fixed;*/
  top: 0;
  left: 0;
  /*border: yellow solid 10px;*/
  z-index: 0; /* important */


}

.widget.about-me{
  background-color: #4fc3f7;
  /*box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);*/

}

/*---------------------------------------------------*/


