.about-me{
  z-index: 0;
  position: relative;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y mandatory; /* enable snap on main page */
  scroll-behavior: smooth;       /* smooth movement */
  overflow-y: scroll;            /* ensure normal page scrolling */
}

.page-section {
  height: 100vh;                 /* full-page sections */
  scroll-snap-align: start;      /* snap point */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.spacer {
  height: 25vh; /* or 10rem, 5vh, etc. */
}
