.wave-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  top: 0;
  left: 0;
}

.wave-svg {
  width: 200%;
  height: 180px;
}

.wave-back {
  
  z-index: 1;
}

.wave-mid {
  
  z-index: 2;
}

.wave-front {
  
  z-index: 3;
}

.wave-wrapper {
    width: 100%;
    z-index: 1;
    margin: 0%;
}


.wave-bg {
  background-color:#0848b7 ;
  width: 100%;
  height: 100vh;
  position:absolute;
  top:0;
  left:0;
}
